.more {
    width: 400px;
    height: 520px;
    background: url("https://burst.shopifycdn.com/photos/chicago-city-lights-at-night.jpg?width=1000&format=pjpg&exif=0&iptc=0") no-repeat;
    background-size: cover;
    position: relative;
    padding: 16px;
}

.city::after {
    content: "";
    inset: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    z-index: 1;
}

.guide {
    position: relative;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px 8px;
    border-radius: 8px;
    margin: auto;
    margin-top: 10%;
    color: #2d2d2d;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button {
    z-index: 999;
    padding: 16px 24px;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 250px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transform: translateX(-50%);
    transition: all 0.1s ease-in-out;
    background: #dcdcdc;
}

.button:hover {
    background: #19191B;
    color: #d5d5d5;
}

.button:active {
    background: #3b3b3d;
}